*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{

background:url("welcome.png") center center/cover no-repeat fixed;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

}

.overlay{

position:absolute;

width:100%;

height:100%;

background:rgba(0,0,0,.75);

}

.container{

position:relative;

z-index:2;

width:420px;

background:rgba(255,255,255,.1);

backdrop-filter:blur(15px);

padding:35px;

border-radius:20px;

text-align:center;

color:white;

box-shadow:0 0 40px cyan;

animation:fadeIn 1s;

}

.logo{

width:120px;

margin-bottom:15px;

}

h1{

font-size:42px;

color:#00ffff;

margin-bottom:5px;

}

h2{

margin-bottom:15px;

}

p{

margin-bottom:20px;

}

input{

width:100%;

padding:14px;

margin:12px 0;

border:none;

outline:none;

border-radius:10px;

font-size:17px;

}

button{

padding:14px 35px;

background:#00bcd4;

color:white;

border:none;

font-size:18px;

border-radius:12px;

cursor:pointer;

transition:.4s;

}

button:hover{

background:#0097a7;

transform:scale(1.08);

}

.hidden{

display:none;

}

#welcomeCard{

position:absolute;

width:700px;

background:white;

padding:40px;

border-radius:20px;

text-align:center;

box-shadow:0 0 50px cyan;

z-index:5;

animation:zoom 1s;

}

#studentName{

font-size:34px;

color:#1565c0;

}

#studentRoll{

margin:15px;

font-size:20px;

font-weight:bold;

}

#message{

font-size:24px;

line-height:1.7;

margin:30px;

color:#444;

}

@keyframes fadeIn{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}

@keyframes zoom{

from{

transform:scale(.2);

opacity:0;

}

to{

transform:scale(1);

opacity:1;

}

}
